nav {
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.button {
  border: 2px solid rgb(144, 238, 144);
  color: rgb(144, 238, 144);
}

.button:hover {
  background-color: rgb(144, 238, 144);
  border: 2px solid black;
}

.header {
  background-image: url("Nachos.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
}

.header h1 {
  background-color: rgb(144, 238, 144);
  font-size: 40px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 30%;
}
