nav {
  text-align: center;
}

p {
  text-align: center;
}

.header {
  background-image: url("Nachos.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
}

.header h1 {
  background-color: rgb(144, 238, 144);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 30%;
}
