body {
  text-align: center;
}

html {
  background-color: rgb(255, 190, 0);
}

nav {
  font-size: 30px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  line-height: 40px;
  border-bottom: 4px dotted rgb(144, 238, 144);
}

ul li {
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgb(144, 238, 144);
  color: black;
  display: inline-block;
  padding: 10px 20px;
  width: 200px;
}

#nutrition .category {
  display: block;
  font-size: 30px;
}

#nutrition .value {
  font-size: 40px;
  font-weight: 600;
}

.button {
  border: 4px solid rgb(144, 238, 144);
  border-radius: 6px;
  color: rgb(144, 238, 144);
  display: block;
  font-weight: 700;
  font-size: 20px;
  margin: 40px auto;
  padding: 20px;
  width: 100px;
}

.button:hover {
  background-color: rgb(144, 238, 144);
  border: 4px solid black;
  color: black;
}

.header {
  background-image: url("Nachos.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
}

.header h1 {
  background-color: rgb(144, 238, 144);
  color: black;
  font-size: 40px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 30%;
}
